<h2>Записаться</h2>
<p>На этой странице можно записаться на прием к парикмахеру</p>

<form action="/visit" method="post">


  <div class="form-group">
    <label>Ваше Имя</label>
    <input name="username" type="text" class="form-control"  placeholder="Ваше Имя">
      </div>

  <div class="form-group">
    <label>Ваше телефон</label>
    <input name="phone" type="text" class="form-control"  placeholder="Ваше телефон">
  </div>

  <div class="form-group">
    <label>Когда вас ждать?</label>
    <input name="datetime" type="text" class="form-control"  placeholder="Введите дату и время">
  </div>

  <div class="form-group">
    <label>Ваш парикмахер</label>
    <select name="barber" class="form-control" >
      <option>Jessie Pinkman</option>
      <option>Walter White</option>
      <option>Gus Fring</option>

    </select>
  </div>
  
  <br> <button type="submit" class="btn btn-primary">Записаться</button>
</form>

